/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  border:none;

  & + table {
    margin-top: 1em;
  }
}

// thead {
//   background-color: $lighter-gray;
//   border-bottom: 1px solid $light-gray;
// }

th {
  padding: 1.2em;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
//   width: 50%;
//   padding-bottom: 50%;
//   display: inline-block;
  //float: left;
//   border-right: 1px solid $light-gray;
}

td {
  padding-left: 1.2em;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
//   width: 50%;
//   padding-bottom: 50%;
//   display: inline-block;
//   float: left;
  
//   border-bottom: 1px solid $light-gray;
//   border-right: 1px solid $light-gray;
}


// tr, td, th {
//   padding: 0.8em;
//   vertical-align: top;
//   border:none;
// }
